{% extends 'base.html' %}


{% block content %}
<body>
    <div class="highlight-phone" style="background-color: rgb(41,46,48);margin-top: 60px; padding: 20px">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="intro">
                        <h2 style="color: rgb(255,255,255);">About TweeTox<br></h2>
                        <p style="color: rgb(255,255,255);font-size: 20px;"><br><br><strong>TweeTox&nbsp;</strong>is a program that analyses Twitter user behavior through their actions on their Twitter Profile. The program utilize machine learning to give Twitter users appropriate score according to their
                            tweets or retweets. This program is meant for educational purposes and no ill intentions exists prior to creating this program.<br><br><br></p>
                    </div>
                </div>
                <div class="col-sm-4" style="background-image: url('static/bootstrap/img/twittoxtrans.png'); height: 320px; background-position: top;background-size: cover;">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="highlight-phone" style="background-color: rgb(41,46,48);margin-top: 0px; padding: 20px">
        <div class="container">
            <div class="row">
                <div class="col-sm-4" style="background-image: url('static/bootstrap/img/code3.png');">
                    <div></div>
                </div>
                <div class="col-md-8">
                    <div class="intro">
                        <h2 style="color: rgb(255,255,255);"><br>Sentiment Analysis<br><br></h2>
                        <p style="font-size: 20px;color: rgb(255,255,255);"><br><br>Using Sentiment Analysis, an NLP technique, Tweetox could analyze whether the user has a high behavior score or not, from the user's tweets. Results use several different tests to find the most confident score. This does
                            not mean that the user is bad or not, but an analysis of their behavior on Twitter.<br><br><br></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="highlight-phone" style="color: rgb(255,255,255);background-color: rgb(41,46,48);margin-top: 0px; padding: 20px">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="intro">
                        <h2><br>&nbsp;API Scraping<br><br></h2>
                        <p style="color: rgb(255,255,255);"><br><br>The program also utilize&nbsp;Twitter API&nbsp;to scrap data from Twitter&nbsp;officially. In case of API failure or Authorization failures,&nbsp;Requests&nbsp;module will be used to manually scrap the data from Twitter,
                            of course at a price of reduced request amount and increased time interval as to not be intrusive to Twitter. The scrapped data is then sent to the program which keeps the machine learning model, and asks the program politely
                            to assess the given user with its already made model through extensive training.<br><br><br><br></p>
                    </div>
                </div>
                <div class="col-sm-4" style="background-image: url('static/bootstrap/img/code2.png');">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}


{% block footer %}
<footer class="card-footer" style="background: #292F33;height: 43.2px;">
    <div class="container">
        <p class="text-center text-white m-0 small" style="padding-top: 12px;">Copyright&nbsp;© TweeTox 2021</p>
    </div>
</footer>

{% endblock %}