<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Tweetoxicity - About</title>

    <meta property="og:type" content="website"><!-- "og:type" can be omitted for 'website' (is default), required for other types: http://ogp.me/#types -->
    <meta property="og:url" content="https://tweetoxicity.xyz">
    <meta property="og:title" content="Tweetoxicity">
    <meta property="og:description" content="Wondering how the people of Twitter feel about something?">
    <meta property="og:image" content="https://raw.githubusercontent.com/Neek0tine/Tweetoxicity/main/src/scripts/static/bootstrap/img/seo-image.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:alt" content="Tweetoxicity">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="627">
    <meta property="og:site_name" content="Tweetoxicity">

    <meta name="description" content="Wondering how the people of Twitter feel about something?">
    <link rel="icon" href="{{ url_for('static', filename='bootstrap/img/twitox-favicon.ico') }}">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='bootstrap/img/twitox-favicon.ico') }}">
</head>

<body>
    <header class="text-center text-white masthead">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 align-self-center mx-auto">
                    <h1 data-aos="fade-up" data-aos-duration="600" data-aos-once="true" class="mb-5" style="margin: 0px;margin-bottom: 0px;margin-top: 48px; font-size:6vh;">Learn more about Tweetoxicity</h1>
                    <h1 class="mb-5"></h1>
                </div>
            </div>
        </div>
        <nav id="navbar" class="navbar navbar-dark navbar-expand-lg fixed-top navbar-custom" data-aos="slide-down" data-aos-duration="600" style="top: 0; transition: top 0.7s;">
        <div class="container"><a class="navbar-brand" href="{{ url_for('home_page') }}">Tweetoxicity</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarResponsive"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul id="nav-link" class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('home_page') }}" style="text-align: left; color: rgb(255,255,255);">HOME</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('about_page') }}" style="text-align: left; color: rgb(255,255,255);">ABOUT</a></li>
                </ul>
            </div>
        </div>
    </nav>
    </header>
    <section class="showcase">
        <div class="container-fluid p-0">
        <div class="container-fluid p-0">
            <div class="row no-gutters" style="background: #131921;">
                <div class="col-lg-6 text-white order-lg-2 showcase-img" style="background: url('static/bootstrap/img/twittoxtrans.png') center / contain no-repeat;"><span></span></div>
                <div class="col-lg-6 my-auto order-lg-1 showcase-text" style="padding: 82px;background: #131921;color: rgb(255,255,255);">
                    <h2 data-aos="fade-up" data-aos-duration="600" data-aos-once="true" style="text-align: center; color: rgb(255,255,255);">What is Tweetoxicity ?</h2>
                    <p class="lead mb-0" data-aos="fade-up" data-aos-duration="600" data-aos-delay="200" data-aos-once="true" style="text-align: justify; font-size: 20px;color: rgb(255,255,255);"><strong>Tweetoxicity&nbsp;</strong>is a program that analyses Twitter user behavior through their actions on their Twitter Profile. The program utilizes machine learning to give Twitter users appropriate score according to their tweets or retweets. This program is meant for educational purposes and no ill intentions exist prior to creating this program.<br></p>
                </div>
            </div>
            <div class="row no-gutters" style="background: #131921;">
                <div class="col-lg-6 text-white showcase-img" style="background: url('static/bootstrap/img/ai_fix.png') center / contain no-repeat;"><span></span></div>
                <div class="col-lg-6 my-auto order-lg-1 showcase-text" style="padding: 82px;background: #131921;">
                    <h2 data-aos="fade-up" data-aos-duration="600" data-aos-once="true" style="text-align: center; color: rgb(255,255,255);">Sentiment Analysis</h2>
                    <p class="lead mb-0" data-aos="fade-up" data-aos-duration="600" data-aos-delay="200" data-aos-once="true" style="text-align: justify; font-size: 20px;color: rgb(255,255,255);">Using Sentiment Analysis, an NLP technique, Tweetoxicity can analyze whether the user has a high behavior score or not from the user's tweets. Results use different tests to find the most confident score. This does not indicate whether the user is bad or not, but instead provides an alaysis on their behavior on Twitter.<br></p>
                </div>
            </div>
            <div class="row no-gutters" style="background: #131921;">
                <div class="col-lg-6 text-white order-lg-2 showcase-img" style="background: url('static/bootstrap/img/api_fix.png') center / contain no-repeat;"><span></span></div>
                <div class="col-lg-6 my-auto order-lg-1 showcase-text" style="padding: 82px;background: #131921;">
                    <h2 data-aos="fade-up" data-aos-duration="600" data-aos-once="true" style="text-align: center; color: rgb(255,255,255);">Twitter API</h2>
                    <p class="lead mb-0" data-aos="fade-up" data-aos-duration="600" data-aos-delay="200" data-aos-once="true" style="text-align: justify; font-size: 20px;color: rgb(255,255,255);">The program also utilizes Twitter API&nbsp;to scrape data from Twitter&nbsp;officially. In case of API failure or Authorization failures,&nbsp;Requests&nbsp;module will be used to manually scrape the data from Twitter, of course at a price of reduced request amount and increased time interval as to not be intrusive to Twitter. The scraped data is then sent to the program which keeps the machine learning model, and asks the program politely to assess the given user with its already made model through extensive training.<br></p>
                </div>
            </div>
        </div>
    </section>
    <footer style="background: #292F33;height: 43.2px;">
        <div class="container">
            <p class="text-center text-white m-0 small" style="padding-top: 12px;">Copyright&nbsp;© Tweetoxicity 2021</p>
        </div>
    </footer>
    <script src="../static/bootstrap/js/jquery.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/bootstrap/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
</body>

</html>