<!DOCTYPE html>
<html>

<head >
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Tweetoxicity</title>
    <meta name="description" content="Could someone's account causes a social aggression ? We'll predict it for you !">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
    <link rel="shortcut icon" href="{{ url_for('static', filename='bootstrap/img/twitox-favicon.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">


</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top navbar-custom" data-aos="slide-down" data-aos-duration="600" style="background: #292F33;">
        <div class="container"><a class="navbar-brand" href="{{ url_for('home_page') }}">TweeTox</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarResponsive"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('home_page') }}" style="color: rgb(255,255,255);">HOME</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('about_page') }}" style="color: rgb(255,255,255);">ABOUT</a></li>
                </ul> 
            </div>
        </div>
    </nav>
    <header class="text-center text-white masthead" style="background: url(&quot;static/bootstrap/img/rect847.png&quot;) center / cover, #6a8ba3;">
        <section style="background: #cee9ff;"></section>
        <div class="row">
            <div class="col" style="margin-top: -68px;">
                <h2 class="display-4" data-aos="fade-up" data-aos-duration="600" data-aos-once="true" style="font-size: 70px;margin-bottom: 61px;">ABOUT</h2>
                <div class="row align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="rounded-circle img-fluid" data-aos="fade-left" data-aos-duration="600" data-aos-delay="400" data-aos-once="true" src="static/bootstrap/img/rsz_1tweetox.png"></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4" data-aos="fade-right" data-aos-duration="600" data-aos-delay="400" data-aos-once="true" style="font-size: 44px;">About&nbsp;TweeTox</h2>
                            <p data-aos="fade-right" data-aos-duration="600" data-aos-delay="400" data-aos-once="true" style="color: rgb(255,255,255);border-color: rgb(255,255,255);"><br><strong>TweeTox&nbsp;</strong>is a program that analyses twitter user behavior through their actions on their Twitter Profile. The program utilize machine learning to give Twitter users appropriate score according to their tweets or retweets. This program is meant for educational purposes and no ill intentions exists prior to creating this program.<br><br></p>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5"><img class="rounded-circle img-fluid" data-aos="fade-right" data-aos-duration="600" data-aos-once="true" src="static/bootstrap/img/code3.png"></div>
                    </div>
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5">
                            <h2 class="display-4" data-aos="fade-left" data-aos-duration="650" data-aos-once="true" style="font-size: 40px;">Sentiment Analysis</h2>
                            <p data-aos="fade-left" data-aos-duration="650" data-aos-once="true" style="color: rgb(255,255,255);">Using Sentiment Analysis, an NLP technique, Tweetox could analyze whether the user has a high behavior score or not, from the user's tweets. Results use several different tests to find the most confident score. This does not mean that the user is bad or not, but an analysis of their behavior on twitter.</p>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="rounded-circle img-fluid" data-aos="fade-left" data-aos-duration="600" data-aos-once="true" src="static/bootstrap/img/rsz_code_2.png"></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4" data-aos="fade-right" data-aos-duration="600" data-aos-once="true" style="font-size: 47px;">Twitter API</h2>
                            <p data-aos="fade-right" data-aos-duration="600" data-aos-once="true" style="color: rgb(255,255,255);"><br>The program also utilize&nbsp;Twitter API&nbsp;to scrap data from Twitter&nbsp;officially. In case of API failure or Authorization failures,&nbsp;Requests&nbsp;module will be used to manually scrap the data from Twitter, of course at a price of reduced request amount and increased time interval as to not be intrusive to Twitter. The scrapped data is then sent to the program which keeps the machine learning model, and asks the program politely to assess the given user with its already made model through extensive training.<br><br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section style="background: #cee9ff;"></section>
        <section style="background: #cee9ff;"></section>
        <div class="masthead-content"></div>
    </header>
    <footer style="background: #292F33;height: 43.2px;">
        <div class="container">
            <p class="text-center text-white m-0 small" style="padding-top: 12px;">Copyright&nbsp;© TweeTox 2021</p>
        </div>
    </footer>
    

    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/jquery.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script>AOS.init();</script>


    


</body>

</html>