<!DOCTYPE html>
<html>

<head >
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Tweetoxicity</title>
    <meta name="description" content="Could someone's account causes a social aggression ? We'll predict it for you !">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
    <link rel="shortcut icon" href="{{ url_for('static', filename='bootstrap/img/twitox-favicon.ico') }}">

    {% block script %}
    

    {% endblock %}
</head>

<body style="background: #585858;">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top navbar-custom" style="background: #292F33;">
        <div class="container"><a class="navbar-brand" href="{{ url_for('home_page') }}">TweeTox</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarResponsive"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('home_page') }}" style="color: rgb(255,255,255);">HOME</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('about_page') }}" style="color: rgb(255,255,255);">ABOUT</a></li>
                </ul> 
            </div>
        </div>
    </nav>
    {% block content %}

    {% endblock %}
    

    {% block body %}

    {% endblock %}

    {% block footer %}

    {% endblock %}

    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>

</body>

</html>