<!DOCTYPE html>
<html>

<head >
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Tweetoxicity</title>
    <meta name="description" content="Wondering how the people of Twitter feel about something?">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='bootstrap/img/twitox-favicon.ico') }}">


    <script type="text/javascript">// <![CDATA[
        function loading(){
            document.getElementById("loading").style.display = "block";
            document.getElementById("content").style.display = "none";
        }
        
    // ]]></script>

</head>

<body style="background: #292F33;">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top navbar-custom" data-aos="slide-down" data-aos-duration="600" style="background: #292F33;">
        <div class="container"><a class="navbar-brand" href="{{ url_for('home_page') }}">TweeTox</a>
            <button data-toggle="collapse" class="navbar-toggler" data-target="#navbarResponsive"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('home_page') }}" style="color: rgb(255,255,255);">HOME</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('about_page') }}" style="color: rgb(255,255,255);">ABOUT</a></li>
                </ul> 
            </div>
        </div>
    </nav>
    <header class="text-center text-white masthead" style="background: url('static/bootstrap/img/twittoxbg_new.png') center / cover, #585858; overflow: hidden; margin-top: 0px">

        <div class="masthead-content">

        <div class="container-fluid" id="loading" style="display: none; margin-top: auto; margin-bottom: 77px; padding-top: 100px">
            <img src="/static/bootstrap/img/analyzing.gif" alt="Loadinglmao" width="auto" height="400px">
        </div>

        <div id="content" style="display: block; margin-top: 0px; margin-bottom: 180px; padding-top: 100px">
            <div class="container">
                <form method="POST">
                    <h1 data-aos="zoom-in-up" data-aos-duration="650" class="masthead-heading mb-0" style="font-size: 72px;color: #fffff0;">ARE THEY PRETTY CHILL ON TWITTER??</h1>
                    <h2 data-aos="zoom-in-up" data-aos-duration="650" data-aos-delay="200" class="masthead-subheading mb-0" style="font-size: 30px;color: #fffff0;">We'll check it so you don't have to!</h2>
                    <input type="text" id="userInpt" name="username" data-aos="zoom-in-up" data-aos-duration="650" data-aos-delay="400" placeholder="@Username, #Tags, or Texts" onkeyup="check()" style="width: 370.2px;height: 39px;border-style: double;" required>
                    <button type="submit" id="submit_username" data-aos="zoom-in-up" data-aos-duration="650" data-aos-delay="400" class="btn btn-primary mt-5 " onclick="loading();"  style="background: var(--blue);padding: 10px 20px;margin-bottom: 55px;margin-left: 29px;border-style: none;color: rgb(255, 255, 255);" disabled="disabled" >ANALYZE</button>
                </form>

                <script type="text/javascript">
                    function check() {
                        if (document.getElementById("userInpt").value==="") {
                            document.getElementById('submit_username').disabled = true;
                            document.getElementById('submit_username').style.opacity = '0.2';
                        } else {
                            document.getElementById('submit_username').disabled = false;
                            document.getElementById('submit_username').style.opacity = '1';
                        }
                    }
                </script>

            </div>
          </div>
        </div>
    </header>
    <footer style="background: #292F33;height: 43.2px;">
        <div class="container">
            <p class="text-center text-white m-0 small" style="padding-top: 12px;">Copyright&nbsp;© TweeTox 2021</p>
        </div>
    </footer>
    

    <script src="{{ url_for('static', filename='bootstrap/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script>AOS.init();</script>



</body>

</html>
