{% extends 'base.html' %}
{% block content %}
    <form method="POST">
        <h1 class="masthead-heading mb-0" style="font-size: 72px;color: #fffff0;">IS AN ACCOUNT GIVING YOU A BAD INFLUENCE ?</h1>
        <h2 class="masthead-subheading mb-0" style="font-size: 30px;color: #fffff0;">We'll check it for you !</h2>
        <input type="text" name="username" style="width: 370.2px;height: 39px;border-style: none;">
        <a class="btn btn-primary btn-xl rounded-pill mt-5" role="button" href="#" style="background: var(--blue);padding: 13px 20px;margin-bottom: 55px;margin-left: 29px;border-style: none;color: rgb(255, 255, 255);">ANALYZE</a>
    </form>
{% endblock %}